@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

@font-face {
    font-family: "Amsterdam";
    src: url("/Amsterdam_Four.ttf");
}

body {
    color: rgb(var(--foreground-rgb));
    background: white;
    @apply text-size-p text-color2;
    font-family: "Noto Sans JP",sans-serif;
}

p{
    @apply text-size-p;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.link {
    font-size: 0.8rem;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.active {
    @apply pl-3;
    &::before {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 16px;
        height: 1px;
        background-color: black;
        transform: rotate(-65deg);
        transform-origin: left bottom;
    }
}

::selection {
    @apply bg-color3 text-font1;
  }
